@font-face {
	font-family: "Light";
	src: url("/fonts/SimulaBook.otf");
  }
@font-face {
	font-family: "Regular";
	src: url("/fonts/SimulaBook.otf");
  }
  @font-face {
	font-family: "Medium";
	src: url("/fonts/SimulaBook.otf");
  }
  
  @font-face {
	font-family: "SemiBold";
	src: url("/fonts/SimulaBook.otf");
  }
  
  @font-face {
	font-family: "Bold";
	src: url("/fonts/SimulaBook.otf");
  }
  @font-face {
	font-family: "Black";
	src: url("/fonts/SimulaBook.otf");
  }
  